{% extends 'Account/base.html' %}
{% block title %}WC Institute{% endblock title %}
{% load static %}
{% block body %}

<section class = "header">
    <!-- <div class="header2"></div> -->
    <div class="tech-slideshow">
  <div class="mover-1"></div>
  <div class="mover-2"></div>
</div>
     <div class="text-box">
         <h1> World Class <span>Institute</span></h1>
      <h4 >Making ipsum dolor sit amet consectetur adipisicing elit. <br> Dignissimos dolor vel ut quo saepe fuga magni maxime esse ad fugiat.</h4>   
    <a href="" class="hero-btn">visit us know more </a>
     </div>
     </section>




     <section class="course">
         <h1>Course We Offer</h1>
 
     <p>Ipsum dolor sit amet, consectetur adipisicing elit. Assumenda est numquam veritatis, aspernatur adipisci excepturi.</p>
   <div class="row1">
       <div class="course-col">
           <h3>Intermediate</h3>
           <p> Cupiditate molestiae neque saepe minima earum in qui dolore obcaecati quaerat tempore cum hic, quibusdam laudantium quidem eum quos vitae eligendi at nemo. Accusamus, minima numquam obcaecati quia doloremque quo facilis, corporis exercitationem eos, sequi sunt placeat possimus.</p>
       </div>
       <div class="course-col">
         <h3>Degree</h3>
         <p>di dolores ipsam veritatis. Voluptates expedita deleniti quam ipsa accusamus voluptatibus, dolorum debitis necessitatibus voluptate. Cupiditate molestiae neque saepe minima earum in qui dolore obcaecati quaerat tempore cum hic, quibusdam laudantium quidem eum quos vitae eligendi at nemo. Acaecati quia doloremque </p>
 
   </div>
   <div class="course-col">
     <h3>Post Graduation </h3>
     <p> dolorum debitis necessitatibus voluptate. Cupiditate molestiae neque saepe minima earum in qui dolore obcaecati quaerat tempore cum hic, quibusdam laudantium quidem eum quos vitae eligendi at nemo. Accusamus, minima numquam obcaecati quia doloremque quo facilis, corporis exercitationem eos, sequi sunt placeat possimus.</p>
 
 </section>
 
 <section class="campus">
    <h1>Our Global Campus </h1>
    <p> Ipsum dolor sit amet consectetur adipisicing elit. Error obcaecati expedita quos. Aliquam fugit rem, necessitatibus ex sint ipsam in modi eligendi enim soluta sequi iure, quia voluptatum, a corporis</p>
<div class="row1">
    <div class="campus-col">
        <img src="{% static 'img/london.png' %}" alt=" campus image">
       <div class="layer">
           <h3>LONDON</h3>
        </div>
    </div>
    <div class="campus-col">
        <img src="{% static 'img/newyork.png'%}" alt="  new york image">
       <div class="layer">
           <h3>NEW YORK</h3>
        </div>
    </div>  
    <div class="campus-col">
        <img src="{%static 'img/washington.png'%}" alt=" was image">
       <div class="layer">
           <h3>WASHINGTON</h3>
        </div>
    </div>
    <!-- <div class="campus-col">
        <img src="{% static 'course/img/aaa.jpeg' %}" alt=" was image">
       <div class="layer">
           <h3>WASHINGTON</h3>
        </div>
    </div> -->
</div>
</section> <section class="facilities">
    <h1>Our Facilities</h1>
    <p> Ipsum, dolor sit amet consectetur adipisicing elit. Velit aliquid autem rerum soluta<p>
     <div class="row1">
         <div class="facilities-col">
             <img src="{%static 'img/library.png'%}"  alt="">
             <h3>World Class Library</h3>
             <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iusto?<p>

         </div>
         <div class="facilities-col">
            <img src="{%static 'img/basketball.png'%}"  alt="">
            <h3>Largest Play Ground</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iusto?<p>

        </div>
        <div class="facilities-col">
            <img src="{%static 'img/cafeteria.png'%}" alt="">
            <h3>Tasty And healthy Food </h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, iusto?<p>
                 </div>
                 </div>   
                </section>
    <section class="testimonials">
<h1>What Our  Student Says</h1>
<p> Ipsum, dolor sit amet consectetur adipisicing elit. Velit aliquid autem rerum soluta<p>
    <div class="row1">
        <div class="testimonial-col">
            <img src="{%static 'img/user1.jpg'%}"  alt="">
            <div class="icon">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, iure? Deleniti modi perspiciatis minus nihil ut, voluptates saepe iste tenetur velit. Voluptatem quas ullam, explicabo eaque temporibus assumenda quaerat exercitationem.</p>
                <h3>Christine Berkley</h3>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
 </div>
        </div>
        <div class="testimonial-col">
            <img src="{%static 'img/user2.jpg'%}"  alt="">
            <div  class="icon">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, iure? Deleniti modi perspiciatis minus nihil ut, voluptates saepe iste tenetur velit. Voluptatem quas ullam, explicabo eaque temporibus assumenda quaerat exercitationem.</p>
                <h3>David Byer</h3>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>




                
            </div>
        </div>
    </div>

</section>
<section class="cta" >
    <h1>Enroll for our various online course <br> anywhere from the world </h1>
    <a href=""class="hero-btn">CONTACT US</a>
</section>


{% endblock body %}
