{% load static %}
<div class="full_header">
    <div id="subheader" class="container">
        <div class="section">
            <div class="header_contacts">
                <div class="header_contact_item"><img src="{% static 'Account\icons\mail.png' %}" alt=""> contact@wgtechsoft.com</div>

                <div class="header_contact_item"><img src="{% static 'Account\icons\phone.png' %}" alt=""> 9414901166</div>
             </div>
             <a target="_blank" href="" class="header_soc_icon" title="Pinterest" style="opacity: 0.5;"><img src="{% static 'Account\icons\pinterest.png' %}" alt=""></span></a>
            <a target="_blank" href="" class="header_soc_icon" title="Skype" style="opacity: 0.5;"><img src="{% static 'Account\icons\skype.png' %}" alt=""></a>
            <a target="_blank" href="" class="header_soc_icon" title="Linked in" style="opacity: 0.5;"><img src="{% static 'Account\icons\linkedin.png' %}" alt=""></a>
            <a target="_blank" href="" class="header_soc_icon" title="twitter" style="opacity: 0.5;"><img src="{% static 'Account\icons\twitter.png' %}" alt=""></a>
            <a target="_blank" href="" class="header_soc_icon" title="google" style="opacity: 0.5;"><img src="{% static 'Account\icons\google.png' %}" alt=""></a>
             <a target="_blank" href="" class="header_soc_icon" title="facebook" style="opacity: 0.5;"><img src="{% static 'Account\icons\facebook.png' %}" alt=""></a>					

        </div>
        
        
    </div>
</div>

<div class="section">
						
								
    